<div class="palette-widget">	
	
	<h4 style="margin: 0 0 3px">Color Palette <small>(Demo)</small></h4>
	<div class="row-fluid" style="display: none">
		<div class="input-append">
			<input class="span10" style="text-align: left" type="text" value="Color Palette Title">
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#">Do something</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<ul class="palette-grid">
		<li><canvas class="palette-preview" style="background-color: #34495e" title="#34495e"></canvas></li>
		<li><canvas class="palette-preview" style="background-color: #1abc9c" title="#1abc9c"></canvas></li>
		<li><canvas class="palette-preview" style="background-color: #2ecc71" title="#2ecc71"></canvas></li>
		<li><canvas class="palette-preview" style="background-color: #3498db" title="#3498db"></canvas></li>
		<li><canvas class="palette-preview" style="background-color: #9b59b6" title="#9b59b6"></canvas></li>
		<li><canvas class="palette-preview" style="background-color: #f39c12" title="#f39c12"></canvas></li>
		<li><canvas class="palette-preview" style="background-color: #e67e22" title="#e67e22"></canvas></li>
		<li><canvas class="palette-preview" style="background-color: #e74c3c" title="#e74c3c"></canvas></li>
		<li><canvas class="palette-preview" style="background-color: #ecf0f1" title="#ecf0f1"></canvas></li>
		<li><canvas class="palette-preview" style="background-color: #95a5a6" title="#95a5a6"></canvas></li>
		<li><a href="#"><i class="icon-plus"></i></a></li>
		
	</ul>
	<hr/>
	<ul class="palette-grid">
		<li><canvas class="palette-preview" style="background-color: #1a1a1a" title="#1a1a1a"></canvas></li>
		<li><canvas class="palette-preview" style="background-color: #333333" title="#333333"></canvas></li>
		<li><canvas class="palette-preview" style="background-color: #666666" title="#666666"></canvas></li>
		<li><canvas class="palette-preview" style="background-color: #808080" title="#808080"></canvas></li>
		<li><canvas class="palette-preview" style="background-color: #A7A7A7" title="#A7A7A7"></canvas></li>
		<li><canvas class="palette-preview" style="background-color: #FFFFFF" title="#FFFFFF"></canvas></li>
		<li><a href="#"><i class="icon-plus"></i></a></li>
	</ul>
</div>
<div class="palette-overlay"></div>