<div class="detail-panel-header">
	<h2>Node Detail</h2>
</div>
<hr/>
<div class="detail-panel-bucket" id="node-attrs">
	<form id="node-attributes">
		<div class="row-fluid">
			<div class="span3">
				<label><strong>X</strong></label>
				<div class="input-append">
					<input id="node-attr-x" class="span8 text-center" type="text" value="{{x}}">
					<span class="add-on">px</span>
				</div>
			</div>
			<div class="span3">
				<label><strong>Y</strong></label>
				<div class="input-append">
					<input id="node-attr-y" class="span8 text-center" type="text" value="{{y}}">
					<span class="add-on">px</span>
				</div>
			</div>
			<div class="span3">
				<label><strong>R<sup>&#186;</sup></strong></label>
				<div class="input-append">
					<input id="node-attr-rotate" class="span8 text-center" type="text" value="{{rotate}}">
					<span class="add-on">&nbsp;&#186;&nbsp;</span>
				</div>
			</div>
			<div class="span3">
				<label><strong>Alpha</strong></label>
				<div class="input-append">
					<input id="node-attr-rotate" class="span8 text-center" type="text" value="100">
					<span class="add-on">%</span>
				</div>
			</div>
		</div>
	</form>
</div>
<hr/>

<div class="detail-panel-bucket" id="node-paths"></div>
<hr/>

<div class="detail-panel-bucket" id="node-texts"></div>