<div class="detail-panel-bucket" id="node-attrs">
	<h3>Node Attributes</h3>
	<form id="node-attributes">
		<table class="table table-condensed">
			<tr>
				<th>X</th>
				<th>Y</th>
				<th>Rotate</th>
				<th>Scale</th>
			</tr>
			<tr>
				<td><input id="node-attr-x" type="text" style="width: 40px" value="{{x}}" /></td>
				<td><input id="node-attr-y" type="text" style="width: 40px" value="{{y}}" /></td>
				<td><input id="node-attr-rotate" type="text" style="width: 40px" value="{{rotate}}" /></td>
				<td><input id="node-attr-scale" type="text" style="width: 40px" value="{{scale}}" /></td>
			</tr>
		</table>
	</form>
</div>
<hr/>

<div class="detail-panel-bucket" id="node-paths">
	<h4>Shape</h4>
</div>
<hr/>

<div class="detail-panel-bucket" id="node-texts">
	<h4>Text</h4>
</div>