
<div class="detail-section" id="node-attributes">
	<h2>Position</h2>
	<div class="detail-inner">
		<div class="row-fluid">
			<div class="span3">
				<label><strong>X</strong></label>
				<div class="input-append">
					<input id="node-attribute-x" class="span8 text-center" type="text" value="{{x}}">
					<span class="add-on">px</span>
				</div>
			</div>
			<div class="span3">
				<label><strong>Y</strong></label>
				<div class="input-append">
					<input id="node-attribute-y" class="span8 text-center" type="text" value="{{y}}">
					<span class="add-on">px</span>
				</div>
			</div>
			<div class="span3">
				<label><strong>R<sup>&#186;</sup></strong></label>
				<div class="input-append">
					<input id="node-attribute-rotate" class="span8 text-center" type="text" value="{{rotate}}">
					<span class="add-on">&nbsp;&#186;&nbsp;</span>
				</div>
			</div>
			<div class="span3">
				<label><strong>Alpha</strong></label>
				<div class="input-append">
					<input id="node-attribute-opacity" class="span8 text-center" type="text" value="{{opacity}}">
					<span class="add-on">%</span>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="detail-section">
  <h2>Shape</h2>
  <div id="detail-shapes">
    <div class="detail-inner" id="node-paths"></div>
  </div>
</div>

<div class="accordian-section">
  <h2>Label</h2>
  <div id="detail-texts">
    <div class="detail-inner" id="node-texts"></div>
  </div>
</div>
