<div class="detail-panel-header">
	<h2>Link Detail</h2>
</div>
<hr/>
<div class="detail-panel-bucket" id="link-attrs">
	<form id="link-attributes">
		<div class="row-fluid">
			<div class="span12">
				<h4>Link</h4>
			</div>
		</div>
	</form>
</div>
<hr/>