<div id="controls">
	<div id="toolbar">
		<div class="btn-group btn-group-vertical" data-toggle="buttons-radio">
			<button id="tool-pointer" type="button" class="btn active"><i class="icon icon-white icon-arrow-up"></i></button>
			<button id="tool-node" type="button" class="btn"><i class="icon icon-white icon-screenshot"></i></button>
			<button id="tool-link" type="button" class="btn"><i class="icon icon-white icon-resize-small"></i></button>
		</div>
		<hr>
		<div class="btn-group btn-group-vertical" data-toggle="buttons-radio">
			<button id="tool-text" type="button" class="btn"><i class="icon icon-white icon-font"></i></button>
		</div>
	</div>
	<div id="details"></div>
</div>
<div id="stage"></div>