<div id="controls">
	<div id="header"></div>	
	<div id="toolbar">
		<div class="btn-group btn-group-vertical">
			<button id="tool-pointer" type="button" class="btn active" title="Pointer (V)"></button>
			<button id="tool-node" type="button" class="btn" title="Node (N)"></button>
			<button id="tool-link" type="button" class="btn" title="Link (L)"></button>
			<button id="tool-axis" type="button" class="btn" title="Axis (A)"></button>
		</div>
		<hr>
		<div class="btn-group btn-group-vertical">
			<button id="tool-eyedropper" type="button" class="btn" title="Eyedropper (I)"></button>
			<button id="tool-download" type="button" class="btn" title="Print to save hi-res PDF">
				<i class="icon-download-alt"></i>
			</button>
		</div>
	</div>
	<div id="detail">
		<div id="detail-wrapper"></div>
	</div>
</div>
<div id="stage"></div>