<div id="controls">
	<div id="toolbar">
		<div class="btn-group" data-toggle="buttons-radio">
			<button type="button" class="btn active"><i class="icon icon-white icon-arrow-up"></i></button>
			<button type="button" class="btn"><i class="icon icon-white icon-screenshot"></i></button>
			<button type="button" class="btn"><i class="icon icon-white icon-resize-small"></i></button>
			<button type="button" class="btn"><i class="icon icon-white icon-font"></i></button>
		</div>
	</div>
	<div id="details"></div>
</div>
<div id="stage"></div>