<div id="controls">
	<div id="toolbar">
		<div class="btn-group" data-toggle="buttons-radio">
			<button type="button" class="btn active">Pointer</button>
			<button type="button" class="btn">Circle</button>
			<button type="button" class="btn">Link</button>
			<button type="button" class="btn">Text</button>
		</div>
	</div>
</div>
<div id="stage"></div>