<div id="controls">
	<div id="header"></div>	
	<div id="toolbar">
		<div class="btn-group btn-group-vertical" data-toggle="buttons-radio">
			<button id="tool-pointer" type="button" class="btn active" title="Pointer (V)"></button>
			<button id="tool-node" type="button" class="btn" title="Node (N)"></button>
			<button id="tool-link" type="button" class="btn" title="Link (L)"></button>
		</div>
		<hr>
		<div class="btn-group btn-group-vertical" data-toggle="buttons-radio">
			<button id="tool-text" type="button" class="btn" title="Text (T)"></button>
		</div>
	</div>
	<div id="detail"></div>
</div>
<div id="stage"></div>