<div id="controls">
	<div class="btn-group" data-toggle="buttons-radio">
		<button type="button" class="btn btn-warning">Pointer</button>
		<button type="button" class="btn btn-warning">Circle</button>
		<button type="button" class="btn btn-warning">Link</button>
		<button type="button" class="btn btn-warning">Text</button>
	</div>
</div>
<div id="stage"></div>