<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a href="/{{slug}}" class="brand">&larr;</a>
			<form class="navbar-form pull-left">
				<input id="canvas-attr-title" type="text" placeholder="Title" class="span4" value="{{title}}">
			</form>
			<ul class="nav pull-right">
				<li><a href="/logout" title="logout">Logout</a></li>
			</ul>
		</div>
	</div>
</div>