@import 'nib'

/* ==========================================================================
   Editor styles
   ========================================================================== */

body
	padding-top 0px

.navbar
	position fixed
