@import 'nib'

/* ==========================================================================
   Editor styles
   ========================================================================== */

body
	padding-top 0px

.navbar
	position fixed

rect.bounds, path.origin
	fill none
	stroke none
	opacity 0