@import 'nib'

/* ==========================================================================
   Editor styles
   ========================================================================== */

body {
	/*background: #fbfbfb;
	overflow: hidden;*/
}

#controls {
	position: absolute;
	top: 12px;
	z-index: 1;
}

#toolbar {
  background: rgba(0,0,0,.5);
	border-radius: 4px;
	left: 10px;
	padding: 5px 5px 0;
	position: fixed;
	z-index: 1;
}
#toolbar hr {
	margin: 1px 0 5px;
	border-top: 1px solid #666;
	border-bottom: 1px solid #999;
}
#toolbar .btn-group+.btn-group { margin-left: 0px; }

#toolbar .btn-group > .btn {
	background: rgba(0,0,0,.25)
	border-radius: 4px;
	margin: 0 0 5px;
	padding: 4px 7px;
	text-shadow: 0 1px 1px rgba(0,0,0,.75)
	width: 100%;
}
#toolbar .btn-group > .btn:focus,
#toolbar .btn-group > .btn:hover {
	background: rgba(0,0,0,.35)
}
#toolbar .btn-group > .btn.active {
	background: rgba(0,0,0,.5)
}


#details { display: none;
	background: rgba(0,0,0,.5)
	border-radius: 4px;
	color: #fff;
	font-size: 12px;
	min-height: 100px;
	position: fixed;
	right: 10px;
	width: 240px;
}

#canvas, #stage {
	/*height: 100%;*/
	position: absolute;
	width: 100%;
}

#canvas {
	top: 40px;
}
#stage {
	top: 0px;
}


/*
 *	Demo styles
 */

.nodeGroup {
	cursor: pointer;
	/*cursor: -webkit-grab;
	 cursor: -webkit-grabbing; */
}

.nodeGroup.active path {
  fill: #ff7f0e;
  stroke: #ff7f0e;
}
.linkGroup.active path {
	opacity: 1;
}

.drag_line {
  stroke: #999;
  stroke-width: 5;
  pointer-events: none;
}

.drag_line_hidden {
  stroke: #999;
  stroke-width: 0;
  pointer-events: none;
}

.link {
  stroke: #999;
  stroke-width: 5;
  cursor: crosshair;
}

.link_selected {
  stroke: #ff7f0e;
}