@import 'nib'

/* ==========================================================================
   Editor styles
   ========================================================================== */

body
  padding 0

#canvas
  background #e5e5e5

.navbar
  position fixed
  
  .navbar-inner
    background rgba(0,0,0,.75)
    border medium none
    box-shadow none
  
  .container
    padding 5px 0
    width auto
  
  .brand
    color #fff
    font-size 15px
    margin 0
    padding 10px 10px
    text-align center
    text-shadow none
    width 50px

  form.navbar-form
    input
      background rgba(0,0,0,.2)
      border-radius 2px
      border medium none
      box-shadow inset 1px 1px 1px rgba(0,0,0,.25)
      color #fff !important
      font-size 16px
      font-weight 700
      height auto
      margin-left 12px
      padding 6px 10px 4px
      text-shadow 1px 1px 1px rgba(0,0,0,.25)
    input::-webkit-input-placeholder
      font-size 12px
      font-weight lighter
      line-height 22px
    input::-moz-placeholder
      font-size 12px
      font-weight lighter
      line-height 22px
  
#stage
  background #fff
  margin 0
  padding 50px 0 0 50px

#controls
  position absolute
  top 0
 	z-index 1

  #toolbar
    background rgba(215,215,215,.96)
    border-right 1px solid #ccc
    height 100%
    padding 62px 10px 0
    position fixed
    z-index 1
    
    hr
      border-top 1px solid rgba(0,0,0,.2)
      border-bottom 1px solid #fff
      margin 0 0 12px
    
    .btn-group+.btn-group
      margin-left 0
    
    .btn-group > .btn
      background #fff
      border 1px solid rgba(0,0,0,.15)
      border-radius 4px
      box-shadow none
      height 28px
      margin 0 0 12px
      padding 4px
      text-align center
      transition background .25s
      width 28px
      &:hover, &:focus
        background rgb(240,245,250)
      &.active
        background rgb(180,230,250)

    #tool-pointer,
    #tool-node,
    #tool-link,
    #tool-line,
    #tool-text
      background-position 50% 50%
      background-repeat no-repeat
      background-size 100%

    #tool-pointer
      background-image url('/images/toolbar-pointer.png')

    #tool-node
      background-image url('/images/toolbar-node.png')

    #tool-link
      background-image url('/images/toolbar-link.png')

    #tool-line
      background-image url('/images/toolbar-line.png')

    #tool-text
      background-image url('/images/toolbar-text.png')

  #detail
    background #333
    //rgba(0,0,0,.75)
    border-radius 4px
    color #fff
    font-size 12px
    position fixed
    right 10px
    top 62px
    width 300px
    //width 240px
    
    h2
      font-size 14px
      line-height 14px
      margin 8px 0 0
      text-transform uppercase
    
    h4
      font-size 14px
      margin 10px 0 5px

    hr
      border-top medium none
      border-bottom 1px solid rgba(0,0,0,.5)
      box-shadow 0 1px 1px rgba(255,255,255,.2)
      margin 5px 0

    form
      margin 0

    label
      color #a7a7a7
      font-size 12px
      margin-bottom 0

      strong
        color #e5e5e5
        display block

    input
      background #4d4d4d
      border-color #282828
      box-shadow inset 1px 1px 1px rgba(0,0,0,.2)
      color #fff
      font-size 12px
      margin-bottom 5px
      text-align center
      &#text-attribute-text,
      &#label-attribute-text
        text-align left

    .input-append,
    .input-prepend
      margin-bottom 0
      width 100%
      .add-on
        background #333
        border-color #282828
        color #a7a7a7
        font-size 11px
        height auto
        text-shadow none
        width 24px

    .btn-group
      margin-bottom 5px
      width 100%

      .btn
        //width 33%

    #path-attribute-shape
      .btn
        position relative
        width 17%
        span
          background-position 50% 50%
          background-repeat no-repeat
          background-size 15px
          float left
          height 18px
          text-indent -99999px
          width 100%
        #icon-shape-circle
          background-image url('/images/detail-shape-circle.png')
        #icon-shape-square
          background-image url('/images/detail-shape-square.png')
        #icon-shape-hexagon
          background-image url('/images/detail-shape-hexagon.png')
        #icon-shape-triangle
          background-image url('/images/detail-shape-triangle.png')
        #icon-shape-plus
          background-image url('/images/detail-shape-plus.png')
        #icon-shape-none
          background-image url('/images/detail-shape-none.png')

    #baseline-attribute-interpolation
      .btn
        position relative
        width 25%
        span
          background-position 50% 50%
          background-repeat no-repeat
          background-size 15px
          float left
          height 18px
          text-indent -99999px
          width 100%
        #icon-interpolation-basis
          background-image url('/images/detail-interpolation-basis.png')
        #icon-interpolation-linear
          background-image url('/images/detail-interpolation-linear.png')
        #icon-interpolation-step-before
          background-image url('/images/detail-interpolation-step-before.png')
        #icon-interpolation-step-after
          background-image url('/images/detail-interpolation-step-after.png')


    .attribute-stroke-dasharray
      input
        border-left medium none
        border-radius 0
        float left
        margin 0
        width 16.6%
        &:first-child
          border-left 1px solid rgb(40, 40, 40)
          border-radius 4px 0 0 4px
        &:last-child
          border-radius 0 4px 4px 0
        &:nth-child(even)
          background rgb(100,100,100)

    .attribute-stroke-linecap 
      .btn
        padding 4px 0
        position relative
        width 30px
        span
          background-position 50% 50%
          background-repeat no-repeat
          background-size 15px
          float left
          height 18px
          text-indent -99999px
          width 100%
        #icon-linecap-round
          background-image url('/images/detail-linecap-round.png')
        #icon-linecap-square
          background-image url('/images/detail-linecap-square.png')
        #icon-linecap-butt
          background-image url('/images/detail-linecap-butt.png')

    .nav-tabs
      border-bottom 1px solid #282828
      margin 5px 0 0
      li
        a
          background-color rgba(0,0,0,.2)
          border 1px solid transparent
          color #a7a7a7
          margin-right 6px
          padding-top 4px
          padding-bottom 4px
          width 89px
          i
            margin 0 2px 0 0
        &.active a
          background-color #333
          border 1px solid #282828
          border-bottom-color transparent
        &:last-child a
          margin-right 0
    
    .tab-content
      overflow visible
      padding-top 10px

	#text-attribute-style
	  .btn
      width 25%

  canvas
    border 1px solid #222
    border-radius 50%
    height 10px
    width 10px
    //&.fill-preview
    &.stroke-preview
      border-width 2px


#detail .detail-panel-header {
	padding: 0 10px;
}
#detail .detail-panel-bucket {
  padding: 0 10px;
}
#detail .detail-panel-bucket table { margin: 0; }

#node-texts,
#link-attributes
	margin 0 0 5px



/*
 *	Demo styles
 */

g.nodeGroup,
g.linkGroup {
	cursor: pointer;
}

rect.bounds, path.origin
  fill none
  stroke #000000
  stroke-width 1
  opacity 0
  transition opacity .5s

g.nodeGroup:hover .bounds
  opacity .15

.nodeGroup.active rect.bounds, .nodeGroup.active:hover rect.bounds,
.nodeGroup.active path.origin, .nodeGroup.active:hover path.origin
  opacity .25

g.linkGroup
  &.active
    path.tickline
      cursor crosshair
    circle
      cursor pointer

#link_controls
  circle
    &.active
      fill #fff
      stroke #757575


.drag_line {
  stroke: #999;
  stroke-width: 5;
  pointer-events: none;
}

.drag_line_hidden {
  stroke: #999;
  stroke-width: 0;
  pointer-events: none;
}

.link {
  stroke: #999;
  stroke-width: 5;
  cursor: crosshair;
}

.link_selected {
  stroke: #ff7f0e;
}